/* Reset some default styles */
body,
main,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Center the content on the page */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}
h1,
h4 {
  text-align: center;
  padding: 10px;
}
/* Style for the image container */
#image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Style for individual images */
img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid black;
  cursor: pointer;
}

img:hover {
  border: 2px solid #007bff;
  /* Add any additional hover styles as needed */
}

img.selected {
  border: 4px solid #28a745;
  /* Add any additional selected styles as needed */
}

/* Style for buttons and paragraph */
button,
p {
  margin-top: 10px;
  /* display: none; */
}

.button {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  margin-top: 10px;
}

/* Additional styling for reset and verify buttons */
#reset,
#verify {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

#reset:hover,
#verify:hover {
  background-color: #0056b3;
}

#para {
  color: black;
  font-size: 16px;
  text-align: center;
  display: block;
  visibility: visible;
}
